<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css">
	<script src="/js/chat.js"></script>
	

	
</head>
<body>
<div class="container">
    <div class="container">
        <div class="container-fluid">
			<div class="chat d-flex justify-content-between">		
				<div class="col-md-7 chat"> <!-- col-sm-12 col-xl-6 -->
					<div class="card">   
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://i.ibb.co/g71jY0h/gemini-logo.jpg" class="rounded-circle user_img" onclick="main()"/>
								</div>
								<div class="user_info">
									<span>Gemini</span>
									<p>ask me anything!</p>
								</div>
								<!-- 새로 추가한 부분 -->
								<div class="user_info p">
									<p class="a"></p>
									<p class="b">First, try saying “Hello” in Korean!<br>
										I am a Google Gemini<br>
										Ask me anything.</p>      
                                </div>
                                <!-- 버튼 -->
                                <div>
                                    <form method="POST" action="/logout">
                                        <button type="submit" class="btn btn_margin button" >Log out</button>
                                    </form>
                                </div>
							</div>
						</div>
						<div id="messageFormeight" class="card-body msg_card_body">
						</div>
						<div class="card-footer">
							<form id="messageAreaGemini" class="input-group">
                                <input type="text" id="text" name="msg" placeholder="한글을 입력 후 'Enter Key'를 눌러주세요." autocomplete="off" class="form-control type_msg" required/>
								<div class="input-group-append">
									<button type="submit" id="send" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
								</div>
							</form>
						</div>
					</div>
				</div>

				<!-- Todo -->
				<div class="container-todo">
					<div class="todo-app">
						<h3>To-Do List <i class="far fa-calendar-check"></i></h3>
						<p><small>간단하게 기록하세요.</small></p>
						
						<div class="rows">
							<input type="text" name="" id="input-box" placeholder="Add your Text">
							<button onclick="addTask()">Add</button>
						</div>
			
						<ul id="list-container">
							<!-- <li class="checked">Task 1</li>
							<li>Task 2</li>
							<li>Task 3</li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
<script src="/js/todo.js"></script>
</body>
</html>

