/* login */
.image-left{
	background-image: url("../images/background.jpg");
	height: 600px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 0 5px 3px rgba(0,0,0,0.05);
	opacity: 0.9;
	border-radius: 3px;
}

fieldset {
    border: 2px solid grey;
    border-radius: 3px;
    padding: 20px;
	margin-top: 25%;
}
legend {
    width: auto !important;
}

.button {
    background-color: rgba(0,0,0,0.3);
}

/* homepage */
.chat{
	margin-top: auto;
	margin-bottom: auto;
}
.card{
	height: 650px;
	border-radius: 15px !important;
	background-color: whitesmoke !important;
	
}
.card-row-gap{
	row-gap: 20px;
}
.msg_card_body{
	max-height: 550px;
	overflow-y: auto;
}
.card-header{
	border-radius: 15px 15px 0 0 !important;
	border-bottom: 0 !important;
}
.card-header-center{
	text-align: center;
	padding: 0;
	margin-bottom: 40px;
	font-size: 45px;
	font-style: italic;
	font-weight: bold;
}
.card-footer{
	border-radius: 0 0 15px 15px !important;
	border-top: 0 !important;
}
.container{
	margin-top: 2%;
	margin-left: 20px;
  	justify-content: space-between;
}
.type_msg{
	background-color: white !important;
	border:0 !important;
	color: black !important;
	height: 60px !important;
	overflow-y: auto;
}.type_msg:focus{
	box-shadow:none !important;
	outline:0px !important;
}
.send_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}

.contacts{
	list-style: none;
	padding: 0;
}
.contacts li{
	width: 100% !important;
	padding: 5px 10px;
	margin-bottom: 15px !important;
}
.active{
	background-color: rgba(0,0,0,0.3);
}
.user_img{
	height: 70px;
	width: 70px;
	border:1.5px solid #f5f6fa;

}
.user_img_msg{
	height: 40px;
	width: 40px;
	border:1.5px solid #f5f6fa;

}
.img_cont{
	position: relative;
	height: 70px;
	width: 70px;
}
.img_cont_msg{
	height: 40px;
	width: 40px;
}

.online_icon{
	position: absolute;
	height: 15px;
	width:15px;
	background-color: #4cd137;
	border-radius: 50%;
	bottom: 0.2em;
	right: 0.4em;
	border:1.5px solid white;
}
.offline{
	background-color: #c23616 !important;
}
.user_info{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}
.user_info span{
	font-size: 20px;
	color: black;
}
.user_info p{
	font-size: 10px;
	margin-top: auto;
	margin-bottom: auto;
	color: black;
}

.video_cam{
	margin-left: 50px;
	margin-top: 5px;
}
.video_cam span{
	color: white;
	font-size: 20px;
	cursor: pointer;
	margin-right: 20px;
}

.msg_head{
	position: relative;
}
.msg_cotainer{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	border-radius: 25px;
	background-color: rgb(82, 172, 255);
	padding: 10px;
	position: relative;
}
.msg_cotainer_send{
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	border-radius: 25px;
	background-color: #58cc71;
	padding: 10px;
	position: relative;
}
.msg_time{
	position: absolute;
	left: 0;
	bottom: -15px;
	color: rgba(0, 0, 0, 0.5);
	font-size: 10px;
}
.msg_time_send{
	position: absolute;
	right:0;
	bottom: -15px;
	color: rgba(0, 0, 0, 0.5);
	font-size: 10px;
}
.msg_head{
	position: relative;
}

.rounded-circle-center{
	border-radius:50% !important;
	position: relative;
	right: 50%;
	left: 50%;
	transform: translate(-50%, -0%)
}

.btn_margin{
    cursor: pointer;
    position: relative;
    margin-top: 18px;
    left: 15%;
}

.card-obliqueline-btn {
    background: repeating-linear-gradient(
		120deg,
		rgb(82, 172, 255), 
		rgb(82, 172, 255) 15px, 
		rgb(252, 252, 252) 0, 
		rgb(252, 252, 252) 30px);
	/* with multiple color stop lengths */
	background-image: repeating-linear-gradient(
		120deg,
		transparent 0 5px,
		rgb(68, 143, 254) 5px 7px
	  );
}
#action_menu_btn{
	position: absolute;
	right: 10px;
	top: 10px;
	color: white;
	cursor: pointer;
	font-size: 20px;
}
.action_menu{
	z-index: 1;
	position: absolute;
	padding: 15px 0;
	background-color: rgba(0,0,0,0.5);
	color: white;
	border-radius: 15px;
	top: 30px;
	right: 15px;
	display: none;
}
.action_menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.action_menu ul li{
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 5px;
}
.action_menu ul li i{
	padding-right: 10px;
}
.action_menu ul li:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.2);
}

@media(max-width: 576px){
	.contacts_card{
	margin-bottom: 15px !important;
}
}

/* weather */


/* todo */
.container-todo {
    width: 50%;
    min-height: 10vh;
    /* background: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%); */
    padding: 5px;
}


.todo-app{
    width: 100%;
    max-width: 540px;
    background: rgba(0,0,0,0.03);
    margin: 15px auto 20px;
    padding: 20px 30px 70px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px #afafaf; 
	overflow-y: scroll;
	max-height: 295px;
	height: 55%
}

.todo-app h3 img{
    position: absolute;
    right: 0;
    width: 40px;
    margin-left: 20px;
}

h3{
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    font-size: 20px;
    position: relative;
}

h3 i {
	width: 40px;
	position: absolute;
	right: 0;
}

div p {
	margin-bottom: 25px;
}

.rows{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: #edeef0; */
    background: #fff;
    border: none;
    outline: 3px groove rgba(0,0,0,0.5);
    outline-offset: 5px;
    border-radius: 12px;
    padding-left: 10px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 10px #5d5d5d;
}

.rows input{
    flex: 1; /*text full availabe width*/
    border:none ;
    outline: none;
    padding: 10px;
    background: transparent;
    font-size: 13px;
    font-weight: 530;
    letter-spacing: 1px;
}
.rows input::placeholder{
    color: black;
}

.rows button{
    border: none;
    outline: none;
    padding: 9px 20px;
    /* background:linear-gradient(45deg,#161823,#16386a) ; */
    background: rgba(0,0,0,0.3);
    color: black;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    border-radius: 12px;
    margin: 1px;
	position: relative;
}

ul li{
    list-style: none;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 15px 30px 15px 45px;
    user-select: none;
    cursor: pointer;
    position: relative;
    margin-block: 10px;
}

ul li::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: url(../images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    background: rgba(0,0,0,0.05);
    color: black;
    border-radius: 14px;
}

ul li.checked::before{
    background: url(../images/checked.png);
    background-size: cover;
}

ul li.checked::before{
    position: absolute;
}


ul li span{
    position: absolute;
    top: 10px;
    margin-right: 1px;
    width: 30px;
    height: 30px;
    font-size: 22px;
    color: #000;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

ul li.checked span{
    color: black;
}

ul li.checked span:hover{
    background: #fff;
    color: #000;
}

ul li span:hover{
    background: rgba(0,0,0,0.3);
    color: #fff;
}

/* weather */
.future-forecast .today{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    border-radius: 10px;
    padding:15px;
    padding-right: 40px;
    border-radius: 10px;
    background: #e6e6e6
}

.future-forecast .today .day{
    padding: 5px 15px;
    background: rgba(0,0,0,0.2);
    border-radius: 10px;
    text-align: center;
}

.future-forecast .today .temp{
    font-size: 14px;
    padding-top: 15px;
}

.future-forecast .weather-forecast{
    display: flex;
}

.weather-forecast .weather-forecast-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2)
}

.weather-forecast .weather-forecast-item .day{
    padding: 5px 15px;
    background: #3C3C44;
    border-radius: 50px;
    text-align: center;
}


/* music player */
/* * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
  }
*/
  
/*
  html {
	font-size: 62.5%;
  }
*/

/*
  body {
	font-family: 'Poppins', 'Montserrat', sans-serif;
	background-color: #f0f0f0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	-webkit-tap-highlight-color: transparent;
  }
 */ 
 
  .container-mp{
	width: 30rem;
	padding-left: 15px;
  }


  .heading {
	color: #000;
	text-align: center;
	text-shadow: 2px 1px #848484;
	font-size: 2.5rem;
	font-weight: 500;
  }

  
  .music-container {
	font-size: 80%;
	background-color: #fff;
	border-radius: 1rem;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	padding: 1rem 2rem;
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 500px;
  }
  
  #cover-box {
	border-radius: 1rem;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
	position: relative;
	bottom: 3rem;
	width: 85%;
  }
  
  #cover {
	border-radius: inherit;
	display: block;
	height: 100%;
	width: 100%;
  }
  
  #music-box {
	width: 100%;
  }
  
  #music-info {
	text-align: center;
	width: 100%;
	position: relative;
	bottom: 1rem;
  }
  
  #title {
	font-size: 1.5rem;
	font-weight: 600;
  }
  
  #artist {
	font-size: 1.2rem;
	font-weight: 500;
  }

  #timer {
	font-size: 1.0rem;
	font-weight: 500;
  }

  #duration {
	font-size: 1.0rem;
	font-weight: 500;
  }
  
  #progress-container {
	height: 4px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	margin: 2rem 0 1rem;
	cursor: pointer;
	border-radius: 8px;
  }
  
  #progress {
	background-color: #000;
	width: 0%;
	height: inherit;
	border-radius: inherit;
	transition: width 100ms ease-in;
  }
  
  #timer-bar {
	display: flex;
	justify-content: space-between;
	font-size: 1.4rem;
  }
  
  #control-box {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
  }
  
  .btn-m {
	display: inline-block;
	font-size: 1.6rem;
	padding: 1rem;
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 4rem;
	color: black;
	transition: background 200ms linear, color 200ms linear;
  }
  
  .special-btn {
	background-color: #000;
	color: #fff;
	font-size: 2.2rem;
	margin: 0 1rem;
	padding: 1.4rem;
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 4rem;
	transition: opacity 200ms linear;
  }
  
  @media (hover: hover) {
	.btn-m:hover {
	  background-color: #000; /* #d8d8d8 */
	  color: #fff;  /* #000 */
	}
  
	.special-btn:hover {
	  opacity: 0.75;
	}
  }
  